@font-face {
	font-family: 'Conv_PlayfairDisplay-Regular';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: local('вє'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Conv_Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: local('вє'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot');
  src: local('вє'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: local('вє'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font_Awersome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: local('вє'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@border-top: data-uri('../img/border-top.png');
@backgroundcolor: #e96c4c;

.font-basic(@_font: 'Conv_Roboto-Regular', @_size: 14px, @_weight: normal, @_color: @colorfont, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
}

.animation-basic(@_time: .3s){
  -webkit-transition: all @_time ease;
  -moz-transition: all @_time ease;
  -ms-transition: all @_time ease;
  -o-transition: all @_time ease;
  transition: all @_time ease;
}

.border-basic(@_size: 5px, @_border: none, @_bg: none, @_animate: none, @_time: .3s){
  -webkit-border-radius: @_size;
  border-radius: @_size;
  border: @_border;
  background: @_bg;
  & when (@_animate = true) {.animation-basic(@_time);}
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  text-align: center;
}

.header{
  .top{
    .container{
      .logo{
        margin: 20px auto;
        img{
          float: left;
        }
        p{
          float: left;
          text-align: left;
          margin: 10px auto auto 20px;
          .font-basic(@_font: 'Conv_PlayfairDisplay-Regular', @_size: 14px, @_color: #d0cccc);
        }
      }
        .rigth-ul{
          padding-right: 0px;
        ul{
          float: right;
          margin: 20px auto;
          .circle{
            border: 2px solid black;
            border-radius: 20px;
            margin: 5px auto auto 15px;
            padding: 5px;
          }
          li{
            list-style-type: none;
            float: left;
            padding: 15px;
            border-image: @border-top 0 1 0 0 round round;

            a{
              .font-basic(@_font: 'Conv_Roboto-Regular', @_size: 13.5px, @_weight: 600, @_color: #333333, @_upper: uppercase);
            }
          }
        }
      }

    }
    
  }
  .bottom{
      background: #fafafa;
      border-top: 2px solid #eae9e5;
    .container{
      .navbar{
        min-height: auto;
        margin-bottom: 0px;
        border: none;
        background: none;
        .collapse{
          padding-left: 0px;
          padding-right: 0px;
          .nav{
            li{
              .padd{
                padding-left: 0px;
              }
              a{
                .font-basic(@_font: 'Conv_Roboto-Regular', @_size: 14px, @_weight: 400, @_color: #666666);
              }
            }
          }
          .navbar-right{
            li{
              p{
                padding-right: 5px;
                margin-top: 15px;
                .font-basic(@_font: 'Conv_Roboto-Regular', @_size: 14px, @_weight: 400, @_color: #666666);
                span{
                  font-style: oblique;
                }
              }
            }
            .search{
              background: @backgroundcolor;
              a{
                color: #fff;
              }
              .dropdown-menu{
                background: none;
                li{
                  form{
                    input{
                      background-color: #080808;
                      border: 1px solid #3343b7;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.main{
  .baner{
    img{
      margin: 0 auto;
    }
  }
  .browse-body{
      background: #fafafa;
      border-bottom: 2px solid #eae9e5;
    .container{
      .browse{
        button{
          background: @backgroundcolor;
          height: 40px;
          width: 40px;
          color: #fff;
        }
        p{
        
          margin-bottom: 0px;
          .font-basic(@_size: 14px, @_weight: 400, @_color: #d1cccc);
        }
      }
      .social{
        float: right;
        .social-logo{
          float: left;
          margin: 0px 1px;
          background: #eeeeee;
          height: 40px;
          width: 40px;
          a{
            img{
              margin-top: 13px;
            }
          }
        }
      }
    }
  }
  .main-content{
    .container{
      .title{
        .left{
          h1{
            text-align: left;
            margin-top: 65px;
            .font-basic(@_size: 36px, @_weight: 600, @_color: #333333, @_line: 54px, @_upper: uppercase);
          }
          p{
            text-align: left;
            margin-top: 20px;
            .font-basic(@_size: 22px, @_weight: 400, @_color: #777777, @_line: 35px);
            span{
              color: #e96c4c;
            }
          }
        }
        .right{

          p{
            margin-top: 60px;
            text-align: left;
            .font-basic(@_size: 13px, @_weight: 400, @_color: #777777, @_line: 24px);
          }
          .paragraf{
              margin-top: 30px;
              
              span{
                color: #e96c4c;
              }
            }
        }
      }
      .slide-main{

        h4{
          margin-top: 100px;
          text-align: left;
          .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 24px, @_weight: 400, @_color: #333333, @_line: 54px);
        }
        .slide{
          .carousel-indicators{
            margin-bottom: -40px;
            li{
              background: #eceae4;
            }
            .active{
              background: @backgroundcolor;
            }
          }
          .carousel-inner{
            .item{
              .backhover{
                text-align: left;
              }
            }
          }
        }
      }
      .content{
        margin-top: 135px;
        .left{
          
            h4{
              .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 24px, @_weight: 400, @_color: #333333, @_line: 54px);
            }
            button{
              margin-top: 20px;
            }
            .slide{
                    .carousel-indicators{
                        margin-bottom: -40px;
                        li{
                          background: #eceae4;
                        }
                            .active{
                              background: @backgroundcolor;
                            }
                       }   
              .carousel-inner{
                .item{
                  .backhover{
                    text-align: left;
                    p{
                      .font-basic(@_size: 11px, @_weight: 600, @_color: #999999, @_line: 24px, @_upper: uppercase);
                    }
                    h5{
                      float: left;
                      .font-basic(@_size: 18px, @_weight: 600, @_color: @backgroundcolor, @_line: 28px);
                    }
                    hr{
                      border: 1px solid #eeeeee;
                      float: left;
                      width: 100%;
                    }
                    .text{
                      float: left;
                      .font-basic(@_size: 13px, @_weight: 400, @_color: #777777, @_line: 24px);
                    }
                    .post{
                      float: left;
                      .font-basic(@_size: 11px, @_weight: 400, @_color: #777777, @_line: 24px, @_upper: uppercase);
                      span{
                        font-family: 'Conv_Roboto-Bold';
                      }
                    }
                  }
                }
              }
            }
            .testimonials{
              .rewiev{
                text-align: left;
                img {
                  float: left;
                }
                p{
                  margin-left: 35px;
                  .font-basic(@_font: 'Font_Awersome', @_size: 14px, @_weight: 400, @_color: #777777, @_line: 24px);
                }
              }
              .writer{
                .ava{
                  float: left;
                  img{
                    max-width: 80px;
                    max-height: 80px;

                  }
                }
                .avtor{
                  float: left;
                  h5{
                    
                     .font-basic(@_size: 14px, @_weight: 400, @_color: #777777, @_line:24px);
                  }
                  p{
                     .font-basic(@_size: 11px, @_weight: 600, @_color: @backgroundcolor, @_upper:uppercase,);
                  }
                }
              }  
            }
         }
      }
      .right{
        
        .reviews{
          .reviews-background{
            margin-top: 20px;
            background: #f9f9f9;
             h4{
              .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 24px, @_weight: 400, @_color: #333333, @_line: 54px);
            }
            button{
              margin-top: 25px;
              .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 12px, @_weight: 400, @_color: #999999);
            }
            .review-add{
              margin-bottom: 20px;
              p{
                text-align: left;
                margin-bottom: 0px;
                .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 13px, @_weight: 400, @_color: #666666, @_line: 19px);
              }
              .pull-left, .pull-right{

                 .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 11px, @_weight: 600, @_color: #999999, @_upper: uppercase);
              }
              h5{
                .font-basic(@_size: 40px, @_weight: 600, @_color: @backgroundcolor, @_line:28px);
              }
              span{
                .font-basic(@_size: 13px, @_weight: 600, @_color: #333333, @_upper: uppercase);
              }

            }
          }
        }
        .conect{
          margin-top: 50px;
          .conect-background{
            text-align: left;
            border: 1px solid #eeeeee;
                form{
                  h4{
                  .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 17px, @_weight: 600, @_color: #333333, @_line: 28px, @_upper: uppercase);
                }
                input{
                  width: 100%;
                }
                button{
                  background: @backgroundcolor;
                  padding: 10px 15px;
                  float: left;
                  margin-top: 10px;
                  .font-basic(@_size: 11px, @_weight: 600, @_color: #fff, @_upper: uppercase);
                }
                p{
                  .font-basic(@_size: 13px, @_weight: 400, @_color: #999999, @_line: 24px);
                }
                hr{
                  width: 100%;
                }
            }
          }
        }
      }
    }
  }
  .producers{
    margin-top: 50px;
    background: #f9f9f9;
    .container{
      h4{
         margin-top: 35px;
         .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 24px, @_weight: 400, @_color: #333333, @_line: 54px);
      }
      button{
      .font-basic(@_size: 13px, @_weight: 400, @_color: #333333, @_line: 24px);  
      }
      ul{
        li{
           padding: 70px 45px 30px 45px;
          list-style-type: none;
          float: left;
          .center{
            margin-top: 20px;
          }
        }
      }
    }
  }
}



.footer{
    .up{
      text-align: left;
      background: #2f2f2f;
        .container{
          .footer-up-content{
          h5{
            margin: 50px auto 30px auto; 
            .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 17px, @_weight: 400, @_color: #ffffff, @_line: 28px, @_upper: uppercase);
          }
          hr{
            border: 1px solid #393939;
          }
          form{
               input{
                margin-top: 25px;
               }
               button{
                background: @backgroundcolor;
                margin: 20px auto 65px auto;
                padding: 15px 20px;
                .font-basic(@_size: 13px, @_weight: 600, @_color: #ffffff, @_upper: uppercase);
               }

          }
            ul{
              li{
                padding: 8px 0px;
                border-bottom: 1px solid #393939;
                list-style-type: none;
                a{
                  text-decoration: none;
                  .font-basic(@_font: 'Conv_Roboto-Medium', @_size: 14px, @_weight: 400, @_color: #979494, @_line: 24px);
                }
              }
            }
        p{
          .font-basic(@_size: 14px, @_weight: 400, @_color: #928f8f, @_line: 24px);
        }
      }
    }
  }
  .down{
    text-align: left;
    background: #252525;
    .container{
      .footer-down-content{
        p{
          margin: 25px auto;
          .font-basic(@_size: 12.4px, @_weight: 400, @_color: #928f8f, @_line: 24px);
        }
        ul{
          float: right;
          margin: 20px auto 15px auto;
          li{
            width: 30px;
            height: 30px;
            float: left;  
            list-style-type: none;
            margin: 0px 1px;
            background: #303030;
            a{
              i{
                margin-top: 8px;
                color: #fff;
              }              
            }
          }
        }
      }
    }
  }
}
